{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
AddCategory
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <h1>Add Category</h1>
        <h3> Create your category here! </h3>

        <form id="add_category_form" method="post" action="{% url 'quiz:add_category' %}">
            {% csrf_token %}

            <!-- Change this to use forms -->
            <label>New Category Name :</label>
            <br>
            <input type="text" name="new-category" value="" size="50" />
            
            <input type="submit" value="Make Category" />
        </form>
    </div>
</main>

{% endblock %}