<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>
            Quizhaholic
            {% block title_block %}
            {% endblock %}
        </title>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    </head>
    <body>

        <header>
            <div class="header-left-group">
                <div class="logo">

                    <!-- Change urls here -->
                    <h1><a href="{% url 'quiz:index' %}"><img src="">Quizhaholic</a></h1> 
                </div>
                <nav class="nav_links">
                    <ul>
                        <li><a href="{% url 'quiz:index' %}">Home</a></li>
                        <li><a href="">Categories</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'quiz:profile' %}">Profile</a></li>
                        <li><a href = "{% url 'quiz:logout' %}">Logout</a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>

            {% block auth_buttons_block %}
            {% endblock %}

            <button class="burger-menu">☰</button>

            <div class="off-screen-menu">
                <ul>
                    <!-- Change urls here -->

                    <li><a href="{% url 'quiz:index' %}">Home</a></li>
                    <li><a href="">Categories</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'quiz:profile' %}">Profile</a></li>
                    <li><a href="{% url 'quiz:logout' %}">Logout</a></li>
                    {% else %}
                    <a href="{% url 'quiz:login' %}"><button>Login</button></a>
                    <a href="{% url 'quiz:register' %}"><button>Register</button></a>
                    {% endif %}
                </ul>
            </div>

            <div class="menu-overlay"></div>

            <script src="{% static 'js/script.js' %}"></script>
        </header>

        {% block main_body_block %}
        {% endblock %}

        <footer>
            <nav class = "nav_links"> 
                <ul>
                    <!-- Change all these links -->
                    <li><a href = "{% url 'quiz:index' %}">Home</a></li>
                    <li><a href = "">Categories</a></li>
                    {% if user.is_authenticated %}
                    <li><a href = "{% url 'quiz:profile' %}">Profile</a></li>
                    <li><a href = "{% url 'quiz:logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            <nav>
        </footer>
    </body>
</html>