{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Home
{% endblock %}

{% block auth_buttons_block %}
<div class = "auth_buttons">
    <a href = "{% url 'quiz:login' %}"> <button>Login</button></a>
    <a href = "{% url 'quiz:register' %}"> <button>Register</button></a>
</div>
{% endblock %}


{% block main_block %}
<main class = "categories">

    <div class="container">
        <h1>Categories</h1> 
        <p>Pick a category and put your knowledge to the test - there's something for everyone!</p>
    </div>



   <div class="categories-grid">

    {% if categories %}
        {% for c in categories %}
        <a href= "{%url 'quiz:category' c.slug %}">
            <div class="category_container">
                <img src="" alt="Category">
                <label>{{ c.name }}</label>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}

    
    </div>
</main>
{% endblock %}

