{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

{% block main_body_block %}
<main>
    <div class="holder">
        <h2>{{ category.name }}</h2>
        
        {% if first_question %}
        <!-- Maybe change these -->
        <label>Choose a game mode or view the leaderboards</label>

        {% if user.is_authenticated %}
            <label>Learn Mode: Check the answers to all the questions</label>
        {% endif %}
        
        <label>Normal Mode : Answer questions with points until you get one wrong</label>

        {% if user.is_authenticated %}
            <label>Timed Mode: Test your speed in answering questions</label>
        {% endif %}



        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'quiz:fetch_question' category.slug 'learn' first_question %}">
                    <button>Learn Mode</button>
                </a>
            {% endif %}

            <a href="{% url 'quiz:fetch_question' category.slug 'normal' first_question %}">
                <button>Normal Mode</button>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'quiz:fetch_question' category.slug 'timed' first_question %}">
                    <button>Timed Mode</button>
                </a>
            {% endif %}

            <a href="{% url 'quiz:leaderboard' category.slug %}"><button>Leaderboards</button></a>
        </div>

        {% else %}
        <h3>There are no questions in this category. In the meantime checkout other categories.</h3>

        {% endif %}
    </div>
</main>

{% endblock %}
