{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Categories
{% endblock %}

{% block main_body_block %}
<main class = "categories">

    <div class="container">
        <h1>Categories</h1> 
        <p>Pick a category and put your knowledge to the test - there's something for everyone!</p>
    </div>
    
   <div class="categories-grid">

    {% if categories %}
        {% for category in categories %}
        <!-- Use urls here + varibles here -->
        <a href="category.html">
            <div class="category_container">
                <img src="{{ category.category_image.url }}" alt="Category" onerror="this.src='/media/category_imgs/default.jpg';">
                <label>{{ category.name }}</label>
            </div>
        </a>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}

        <!-- Remove this later on  -->
        <!-- <a href="category.html">
            <div class="category_container">
                <img src="gk.jpg" alt="Category">
                <label>Category XX</label>
            </div>
        </a> -->
    </div>
</main>
{% endblock %}

