{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Game Over
{% endblock %}

{% block main_body_block %}
<main>    
    <div class="holder">
        <h1>Game Over</h1>
        {% if category %}
        <p>Category: {{ category.name }}</p>
        {% endif %}
        
        {% if total_questions %}
        <div class="difficulty-breakdown">
            <h2>Difficulty Breakdown</h2>
            <label>Questions answered correctly: {{ total_questions }}</label>
            <ul>
                <li>Easy questions: {{ difficulty_counts.easy }}</li>
                <li>Medium questions: {{ difficulty_counts.medium }}</li>
                <li>Hard questions: {{ difficulty_counts.hard }}</li>
            </ul>
        </div>
        {% endif %}
        <p>Your total score: {{ score }} points</p>
        <a href ="{% url 'quiz:leaderboard' category.slug %}"><button>Check Leaderboards</button></a>
    </div>
</main>
{% endblock %}