{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Leaderboards - {{ category.name }}
{% endblock %}

{% block main_body_block %}
<main class="leaderboards">

    <div class="container">
        <h1> {{ category.name }} LeaderBoards </h1>
        <p>Check the leaderboards where do you rank among the best?</p>
    </div>

   <div class="leaderboards_container">

        <div class="lbNormal">
            <h2><u>Normal</u></h2>
            <div class = "lbNormal2">
                <table class="lbTable">
                    <tr><th>User</th><th>Score</th></tr>
                    {% if normal %}
                        {% for game in normal %}
                        <tr>
                            <td><img src="{% static 'images/pfp.png' %}"> {{ game.user.username }}</td>
                            <td>{{ game.score }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div>
                <table class="lbTable">
                    {% if user.is_authenticated %}
                    <tr class = "userScore">
                        <th><img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" onerror="this.src='/media/profile_pics/default.png';"> {{ user.username }}</th>
                        {% if user_score_normal %} 
                        <th>{{ user_score_normal.score }}</th>
                        {% else %}
                        <th>0</th>
                        {% endif %}
                    </tr>
                    {% endif %}    
                </table>
            </div>
        </div>

        <div class="lbTimed">
            <h2><u>Timed</u></h2>
            <div class="lbTimed2">
                <table class="lbTable">
                    <tr><th>User</th><th>Score</th></tr>
                    {% if timed %}
                        {% for game in timed %}
                        <tr>
                            <td><img src="{% static 'images/pfp.png' %}"> {{ game.user.username }}</td>
                            <td>{{ game.score }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <table class="lbTable">
                {% if user.is_authenticated %}
                <tr class = "userScore">
                    <th><img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" onerror="this.src='/media/profile_pics/default.png';"> {{ user.username }}</th>
                    {% if user_score_timed %} 
                    <th>{{ user_score_timed.score }}</th>
                    {% else %}
                    <th>0</th>
                    {% endif %}
                </tr>
                {% endif %}
            </table>

        </div>
            
    </div>
</main>
{% endblock %}