{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Leaderboards - {{ category.name }}
{% endblock %}

{% block main_body_block %}
<main class="leaderboards">

    <div class="container">
        <h1> {{ category.name }} LeaderBoards </h1>
        <p>Check the leaderboards where do you rank among the best?</p>
    </div>

   <div class="leaderboards_container">

        <div class="lbNormal">
            <h2><u>Classic</u></h2>
            <div class = "lbNormal2">
                <table class="lbTable">
                    <tr><th>User</th><th>Score</th></tr>

                    <!-- Use loop here for all users -->
                    <tr><td><img src="{% static 'images/pfp.png' %}"> USer1</td><td>120</td></tr>
                    
                </table>
            </div>
            <div>
                <table class="lbTable">
                    
                    <!-- Something here -->
                    <tr><td><img src="{% static 'images/pfp.png' %}"> {{ user.username }}</td><td>120</td></tr>

                </table>
            </div>
        </div>

        <div class="lbTimed">
            <h2><u>Timed</u></h2>
            <div class="lbTimed2">
                <table class="lbTable">
                    <tr><th>User</th><th>Score</th></tr>

                    <!-- Use loop here for all users -->
                    <tr><td><img src="{% static 'images/pfp.png' %}"> USer1</td><td>120</td></tr>

                </table>
            </div>
            <table class="lbTable">

                <!-- Something here -->
                <tr class = "userScore"><th><img src="{% static 'images/pfp.png' %}"> {{ user.username }}</th><th>120</th></tr>
            </table>

        </div>
            
    </div>
</main>
{% endblock %}