{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Learn
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <div class="timer-container">
            <!-- How do I change the question number -->
            <span id="question-number">1/100</span>
        </div>

        <h2 class="question">{{ question.text }}</h2>

        <div class="options">
            <button class="option">{{ answer1 }}</button>
            <button class="option">{{ answer2 }}</button>
            <button class="option">{{ answer3 }}</button>
            <button class="option">{{ answer4 }}</button>
        </div>
    </div>
</main>

{% endblock %}