{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Learn
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        {%if question %}
            <form method = "POST">
                {% csrf_token %}
                <h2 class="question">{{question.question_text}}</h2> 
                <div class="options">
                {% for answer in answers %}
                <button type = "submit" class="option" name = "answers" value="{{ answer.answer_text }}">{{ answer.answer_text }}</button>
                {% endfor %}
                </div>
            </form>
        {% else %}
        <p> No questions avaliable, </p>
        {% endif %}
    </div>
</main>

{% endblock %}