{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <h1>Login</h1>

        <h3> or <a href="{% url 'quiz:register' %}"><u>register</u></a> your account now! </h3>

        <form id="login_form" method="post" action="{% url 'quiz:login' %}">
            {% csrf_token %}

            <label>User Name :</label>
            <br>
            <input type="text" name="username" value="" size="50" />
            <br />
            <label>Password :</label>
            <br>
            <input type="password" name="password" value="" size="50" />
            <br />
            <input type="submit" value="Login" />
        </form>
    </div>
</main>

{% endblock %}