{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Play
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        {%if question %}
        <form method = "POST">
            {% csrf_token %}
            <div class="timer-container">
            <h2 id="question">{{question.question_text}}</h2>
            </div>
            <div class="options">
                {{form.answers}}
                {% for answer in answers %}
                <button type = "submit" class="option" name = "answers" value="{{ answer.answer_text }}">{{ answer.answer_text }}</button>
                {% endfor %}
            </div>
        </form>
    {% else %}
    <p> No questions avaliable, </p>
    {% endif %}
    </div>
</main>
{% endblock %}
