<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>
            Quizhaholic
        </title>
        <link rel="stylesheet" href="{% static 'files/styles.css' %}">
    </head>
    <body>

        <header>
            <div class="header-left-group">
                <div class="logo">
                    <h1><a href="index.html"><img src="">Quizhaholic</a></h1>
                </div>
                <nav class="nav_links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="profile.html">Profile</a></li>
                    </ul>
                </nav>
            </div>

            <div class = "auth_buttons">
                    <a href = "login.html"> <button>Login</button></a>
                    <a href = "register.html"> <button>Register</button></a>
            </div>

            <button class="burger-menu">☰</button>

        </header>

        <div id="wrong-answer-popup" class="wrong-answer-popup">
            <p>Oops! That answer is incorrect.</p>
            <a href="{% url 'quiz:categories' %}"><button >Go Back to Categories</button></a>
            <button onclick="closePopup()">Close</button>
        </div>
        
        {% if is_wrong %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    showWrongAnswerPopup();
                });
            </script>
        {% endif %}
        
        <main>
            <div class="quiz-container">
                {%if question %}
                <form method = "POST">
                    {% csrf_token %}
                    <div class="timer-container">
                        <span id= "question-number"> xx/x</span>
                    <h2 id="question">{{question.question_text}}</h2>
                    </div>
                    <div class="options">
                        {{form.answers}}
                    </div>
                    {% for answer in answers %}
                    <button type = "submit" name = "answers" value="{{ answer.answer_text }}">{{ answer.answer_text }}</button>
                    {% endfor %}
                </form>
            {% else %}
            <p> No questions avaliable, </p>
            {% endif %}
            </div>
        </main>




        <footer>
        <nav class = "nav_links"> 
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a href = "categories.html">Categories</a></li>
                <li><a href = "profile.html">Profile</a></li>
            </ul>
        </nav>
        </footer>
    </body>
</html>