{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Play
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <div class="timer-container">
            <!-- How do I change the question number -->
            <span id="question-number">1/xx</span>
        </div>

        <h2 class="question">{{ question.text }}</h2>

        <form class = "options" method="post" id="question">
            <button class="option" name = "optioncosen">{{ answer1 }}</button>
            <button class="option" name = "optioncosen">{{ answer2 }}</button>
            <button class="option" name = "optioncosen">{{ answer3 }}</button>
            <button class="option" name = "optioncosen">{{ answer4 }}</button>
        </form>

        <!-- something like this?? here  -->
        <p class="score">Score: <span id="score">{{ gamesession.user.score }}</span></p>

    </div>

</main>
{% endblock %}