<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>
            Quizhaholic
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <header>
            <div class="header-left-group">
                <div class="logo">
                    <h1><a href="index.html"><img src="logo.png">Quizhaholic</a></h1>
                </div>
                <nav class="nav_links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="profile.html">Profile</a></li>
                    </ul>
                </nav>
            </div>

            <div class = "auth_buttons">
                <h2 class = "message">Hello User123@!</h2>
                <a href="profile.html"><img src="pfp.png"></a>
            </div>

            <button class="burger-menu">☰</button>

        </header>

            <main class = "notmid">

                <div class="container">
                    <h1><img src="pfp.png"> User123 (🔥 2-Day Streak)</h1> 
                    <p>Check categries you have made or create new ones!</p>
                </div>
    
                <div class = "quiz_heading">
                    <h1>My Categories</h1> 
                </div>

               <div class="categories-grid"> 
                <a href="category.html">
                    <div class="category_container">
                        <img src="placeholder.jpg" alt="Category">
                        <label>Category XX</label>
                    </div>
                </a>   
                <a href="add_category.html">            
                    <div class = "category_container add-category">
                        <h1> + </h1>
                    </div>
                </a>        
                </div>
            </main>


            <footer>
            <nav class = "nav_links"> 
                <ul>
                    <li><a href = "index.html">Home</a></li>
                    <li><a href = "categories.html">Categories</a></li>
                    <li><a href = "profile.html">Profile</a></li>
                </ul>
            </nav>
            </footer>
    </body>
</html>