{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile
{% endblock %}

{% block main_body_block %}
<main class = "notmid">

    <div class="container">
        <h1><img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" onerror="this.src='/media/profile_pics/default.png';"> {{ user.username }} </h1> 
        <p id="pfplink"><a href ="{% url 'quiz:upload_profile_picture' %} ">(Change profile picture from here)</a></p>

        {% if user.userprofile.streak and user.userprofile.streak != 0 %}
        <h1>(🔥 {{ user.userprofile.streak }}-Day Streak)</h1>
        {% endif %}
        <p>Add new questions by clicking on a category or add a new category</p>
    </div>

    <div class = "quiz_heading">
        <h1>My Categories</h1> 
    </div>

   <div class="categories-grid"> 

        {% if categories %}
            {% for category in categories %}
            <a href="{% url 'quiz:add_question' category.slug %}">
                <div class="category_container">
                    <img src="{{ category.category_image.url }}" alt="Category" onerror="this.src='/media/category_imgs/default.jpg';">
                    <label>{{ category.name }}</label>
                </div>
            </a>
            {% endfor %}
        {% endif %}

        <a href="{% url 'quiz:add_category' %}">            
            <div class = "category_container add-category">
                <h1> + </h1>
            </div>
        </a>        
    </div>
</main>

{% endblock %}
