{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile
{% endblock %}

{% block main_body_block %}
<main class = "notmid">

    <div class="container">
        <h1><img src="{% static 'images/pfp.png' %}"> {{ user.username }} </h1> 
        {{ if user.streak != 0}}
            <h1>(🔥 {{ user.streak }}-Day Streak)</h1>
        {{ endif }}
        <p>Add new questions by clicking on a category or add a new category</p>
    </div>

    <div class = "quiz_heading">
        <h1>My Categories</h1> 
    </div>

   <div class="categories-grid"> 

        <!-- Something like this here -->
        {% if categories %}
            {% for c in categories %}
            <!-- Use urls here + varibles here -->
            <a href="category.html">
                <div class="category_container">
                    <img src="" alt="Category">
                    <label>{{ c.name }}</label>
                </div>
            </a>
            {% endfor %}
        {% endif %}

        <a href="add_category.html">            
            <div class = "category_container add-category">
                <h1> + </h1>
            </div>
        </a>        
    </div>
</main>

{% endblock %}