{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">

        {% if registered %}
          <h1>Thank you for registering!</h1>
        <a href="{% url 'quiz:index' %}">Return to the homepage.</a><br />
        <a href="{% url 'quiz:login' %}">Goto login page..</a><br />
        {% else %}

        <h1>Register</h1>

        <h3> or <a href="{% url 'quiz:login' %}"><u>login</u></a> if you already have an account! </h3>

        <form id="user_form" method="post" action="{% url 'quiz:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

    </div>
</main>
{% endblock %}