{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block auth_buttons_block %}
<div class = "auth_buttons">

    {% if user.is_authenticated %}
    <h2 class = "message">Hello {{ user.username }}!</h2>
    <a href="{% url 'quiz:profile' %}"><img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" onerror="this.src='/media/profile_pics/default.png';"></a>
    {% else %}
    <a href = "{% url 'quiz:login' %}"> <button>Login</button></a>
    <a href = "{% url 'quiz:register' %}"> <button>Register</button></a>
    {% endif %}
</div>
{% endblock %}



