{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Timed
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <div class="timer-container">
            <span>Timer:</span>
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
            
            <!-- How do I change the question number -->
            <span id="question-number">1/10</span>
        </div>

        <h2 class="question">{{ question.text }}</h2>

        <div class="options">
            <button class="option">{{ answer1 }}</button>
            <button class="option">{{ answer2 }}</button>
            <button class="option">{{ answer3 }}</button>
            <button class="option">{{ answer4 }}</button>
        </div>

    </div>

</main>
<script src="{% static 'js/timer.js' %}"></script>

{% endblock %}