{% extends 'quiz/second_base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }} Timed
{% endblock %}

{% block main_body_block %}
<main>
    <div class="quiz-container">
        <div class="timer-container">
            <span>Timer:</span>
            <div class="progress-bar">
                <div class="progress">
                </div>
            </div>
        </div>    
        {%if question %}
        <form id="timedQuestionForm" method = "POST">
            {% csrf_token %}
            <h2 class="question">{{question.question_text}}</h2> 
            <div class="options">
                {{form.answers}}
                {% for answer in answers %}
                <button type = "submit" class="option" name = "answers" value="{{ answer.answer_text }}">{{ answer.answer_text }}</button>
                {% endfor %}
            </div>
        </form>
    {% else %}
    <p> No questions avaliable, </p>
    {% endif %}
    </div>
</main>
<script src="{% static 'js/timer.js' %}"></script>

{% endblock %}
